<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FXClientSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FXClientSimulator.Properties.Settings>
            <setting name="FIXHostMD" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="FIXPortMD" serializeAs="String">
                <value>14045</value>
            </setting>
            <setting name="SenderIdMD" serializeAs="String">
                <value>CL1</value>
            </setting>
            <setting name="TargetIdMD" serializeAs="String">
                <value>APAMA_ECOM_RATES</value>
            </setting>
            <setting name="FIXHostTD" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="FIXPortTD" serializeAs="String">
                <value>14040</value>
            </setting>
            <setting name="SenderIdTD" serializeAs="String">
                <value>CL1</value>
            </setting>
            <setting name="TargetIdTD" serializeAs="String">
                <value>APAMA_ECOM_ORDERS</value>
            </setting>
            <setting name="FIXHostRFQ" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="FIXPortRFQ" serializeAs="String">
                <value>14050</value>
            </setting>
            <setting name="SenderIdRFQ" serializeAs="String">
                <value>CL1</value>
            </setting>
            <setting name="TargetIdRFQ" serializeAs="String">
                <value>APAMA_ECOM_RFQ</value>
            </setting>
            <setting name="EncryptionMethodMD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HeartbeatIntervalMD" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ResetSequenceNumberMD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EncryptionMethodTD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HeartbeatIntervalTD" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ResetSequenceNumberTD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EncryptionMethodRFQ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HeartbeatIntervalRFQ" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ResetSequenceNumberRFQ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MDLogPath" serializeAs="String">
                <value>marketDataLog.log</value>
            </setting>
            <setting name="TDLogPath" serializeAs="String">
                <value>tradeDataLog.log</value>
            </setting>
            <setting name="RFQLogPath" serializeAs="String">
                <value>rfqDataLog.log</value>
            </setting>
            <setting name="DefaultAccount" serializeAs="String">
                <value>FXAGG</value>
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnBehalfOf" serializeAs="String">
                <value />
            </setting>
        </FXClientSimulator.Properties.Settings>
    </userSettings>
</configuration>